<body ng-app="myApp" ng-controller="myCtrl">
    <div class="loginView">
        <div class="loginBody">
            <div class="containerLogin">
                <div class="loginbg">
                    <div class="box signin">
                        <h2>Already Have an Account ?</h2>
                        <button class="signinbtn">Sign in</button>
                    </div>
                    <div class="box signup">
                        <h2>Login to your portal here</h2>
                        <!-- <button class="signupbtn">Sign up</button> -->
                    </div>
                </div>
                <div class="formbx">
                    <div class="form signinform">
                        <form action="/" method="GET" novalidate autocomplete="off">
                            <h2>Welcome Foodies!</h2>
                            <h3>Sign In</h3>
                            <input ng-model="username" type="text" name="username" placeholder="Username or Email"
                                required>
                            <div style="display: flex;">
                                <input type="{{showPassword ? 'text' : 'password'}}" ng-model="password" name="password"
                                    placeholder="Password" required>
                                <div style="margin: 10px;" class="input-group-addon"
                                    ng-click="showPassword = !showPassword">
                                    <i style="margin-top: 10px;" class="fa fa-eye" ng-if="!showPassword"></i>
                                    <i style="margin-top: 10px;" class="fa fa-eye-slash" ng-if="showPassword"></i>
                                </div>
                            </div>
                            <!-- <a href="../home/home.html"> -->
                            <input type="button" name="login-button" value="Login" ng-click="login($event)">
                            </a>
                            <!-- <a href="#" class="forgot">Forgot password?</a> -->
                        </form>
                    </div>
                    <!-- <div class="form signupform">
                <form>
                    <h3>Sign up</h3>
                    <input type="text" placeholder="Enter Your Name">
                    <input type="text" placeholder="Email">
                    <input type="date" placeholder=" Enter your Date of birth">
                    <input type="password" placeholder="Password">
                    <input type="password" placeholder="Confirm password">
                    <input type="submit" value="Sign Up">
                </form>
            </div> -->
                </div>
            </div>
        </div>
    </div>
</body>