<body ng-controller="outletCtrl">
    <div class="superContainer">
        <!-- content start -->
        <div class="superMain">
            <div class="superTopbar">
                <div class="superToggle" ng-click="toggle()">
                </div>
                <div class="superSearch">
                    <label>
                        <input ng-model="search" ng-model-options="{ debounce: 800 }" type="text" name="search" placeholder="Search here">
                        <ion-icon name="search-outline" style="margin-top: 10px;"></ion-icon>
                    </label>
                </div>
                <div class="superUserName">
                    <div class="superUser">
                        <img src="../img/user.png">
                    </div>
                    <h4 style="margin-top: 25px;">Hey, {{brandUsername}}</h4>
                </div>
            </div>
            <div class="loadingio-spinner-ripple-vjxd5jrokur" ng-show="loading">
                <div class="ldio-qo2rjgdiigq">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="superDetails">
                <div class="superRecentItemView">
                    <div class="viewAllTable">
                        <table>
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Sub Category</td>
                                    <td>Super Category</td>
                                    <td>Price</td>
                                    <td>Status</td>
                                    <td>Item(On/Off)</td>
                                    <td>Edit</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="itemOutlet in allItemOutlet | filter:search">
                                    <td>{{itemOutlet.foodCategory.foodItemName}}</td>
                                    <td>{{itemOutlet.subCategory.subName}}</td>
                                    <td>{{itemOutlet.superCategory.superName}}</td>
                                    <td>{{itemOutlet.foodCategory.foodItemPrice}}</td>
                                    <td><span
                                            ng-class="itemOutlet.isActive ? 'status delivered' : 'status return'">{{itemOutlet.isActive
                                            ?
                                            "Active" : "InActive"
                                            }}</span></td>
                                    <td ng-click="handleToggle(itemOutlet.isActive, itemOutlet._id)"><label
                                            class="switchOn" ng-class="itemOutlet.isActive ? 'switchOn' : 'switchOff'">
                                            {{itemOutlet.isActive ? "On" :
                                            "Off"}}
                                            <input type="checkbox" ng-checked="false">
                                            <span class="slider round"
                                                ng-class="itemOutlet.isActive ? 'sliderOn' : 'sliderOff'"></span>
                                        </label></td>
                                    <td>
                                        <span class="icon" style="font-size: 1.75em; cursor: pointer;"
                                            data-bs-toggle="modal" data-bs-target="#editOutletModal"
                                            ng-click="openOutletModal(outlet)"><ion-icon
                                                name="create-outline"></ion-icon></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a style="cursor: pointer;" class="page-link"
                            ng-click="previous()">Previous</a></li>
                    <li class="page-item"><a style="cursor: pointer;" class="page-link" ng-click="next()">Next</a></li>
                </ul>

            </nav>
            <!-- Modal Edit -->
            <div class="modal fade" id="editOutletModal" tabindex="-1" aria-labelledby="editModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit Brand</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form name="updateForm" novalidate autocomplete="off">
                                <h5> Outlet Information</h5>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Outlet Name</span>
                                    <input type="text" ng-model="outlet.outletName" class="form-control"
                                        aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Outlet Address</span>
                                    <input type="text" ng-model="outlet.outletAddress" class="form-control"
                                        aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Outlet Phone</span>
                                    <input type="text" ng-model="outlet.outletPhone" class="form-control"
                                        aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Outlet Manager</span>
                                    <input type="text" ng-model="outlet.outletManager.managerName" class=" form-control"
                                        aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="superButtonClose"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="superButton" ng-click="saveOutletData($event)">Save
                                        changes</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>