<body ng-controller="outletCtrl">
    <div class="superContainer">
        <!-- content start -->
        <div class="superMain">
            <div class="superTopbar">
                <div class="superToggle" ng-click="toggle()">
                    <!-- <ion-icon name="menu-outline"></ion-icon> -->
                    <h4 style="font-size: 17px;">{{brandName}} | Branch Page</h4>
                </div>
                <div class="superSearch">
                    <label>
                        <input ng-model="search" ng-model-options="{ debounce: 800 }" type="text" name="search"
                            placeholder="Search here">
                        <ion-icon name="search-outline" style="margin-top: 10px;"></ion-icon>
                    </label>
                </div>
                <div class="superUserName">
                    <div class="superUser">
                        <img src="../img/user.png">
                    </div>
                    <h4 style="margin-top: 25px;">Hey, {{brandUsername}}</h4>
                </div>
            </div>

            <div class="loadingio-spinner-ripple-vjxd5jrokur" ng-show="loading">
                <div class="ldio-qo2rjgdiigq">
                    <div></div>
                    <div></div>
                </div>
            </div>

            <!-- cards -->

            <!-- <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Super Categories</span>
                <div class="dropdown">
                    <select class="form-select" aria-label="Default select example"
                        ng-model="selectedSuperCategory" ng-click="superTest(super._id)">
                        <option ng-value="super" ng-repeat="super in allSuper">
                            {{super.superCategoryName}}
                        </option>
                    </select>
                </div>
            </div> -->

            <h4 style="margin-left: 20px; color: var(--red);">Select Super Category</h4>
            <!-- <div style="margin-left: 20px;" class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Super-Category</span>
                <div class="dropdown">
                    <select class="form-select" aria-label="Defaul select example" ng-model="selectedSuperCategory"
                        ng-click="superTest(super._id)">
                        <option ng-value="super" ng-repeat="super in allSuper">
                            {{super.superCategoryName}}
                        </option>
                    </select>
                </div>
            </div> -->

            <div class="superCardBoxOutlet">
                <div class="superCard" ng-model="selectedSuperCategory" ng-repeat="super in allSuper"
                    ng-class="addClass(super._id)" ng-click="superTest(super._id)">
                    <div>
                        <div style="font-size: 1em;" class="numbers"> {{super.superCategoryName}} </div>
                    </div>
                </div>
            </div>

            <h4 style="margin-left: 20px; color: var(--red);">Sub Categories</h4>
            <div class="superCardBoxOutlet">
                <div class="superCard" ng-repeat="sub in allSub" ng-class="addSubClass(sub._id)"
                    ng-click="subTest(sub._id)">
                    <div>
                        <div style="font-size: 1em;" class="numbers" style="color: var(--black1);">
                            {{sub.subCategoryName}} </div>
                        <!-- <div class="cardName"> {{sub.subCategoryDescription}}</div> -->
                    </div>
                </div>
            </div>

            <h4 style="margin-left: 20px; color: var(--red);">Food Items</h4>
            <div class="superCardBoxOutlet">
                <div class="superCard" ng-repeat="item in allItem" ng-class="addFoodClass(item._id)"
                    ng-click="foodTest(item)">
                    <div>
                        <div style="font-size: 0.9em;" class="numbers" style="font-size: 18px;">
                            {{item.foodItemName}} :
                            ₹ {{item.foodItemPrice}}
                        </div>
                    </div>
                    <div>
                        <a href="" data-bs-toggle="modal" data-bs-target="#foodAddModal"
                            ng-click="openFoodItemModal(item)">
                            <button type="button" class="superButton">Add</button>
                        </a>
                    </div>
                </div>

            </div>
            <!-- <div class="modal-footer">
                <a href="" data-bs-toggle="modal" data-bs-target="#foodAddModal" ng-click="openFoodItemModal(item)">
                    <button type="button" class="superButton">Add Food Item</button>
                </a>
            </div> -->
            <!-- <div>ng-click="saveItem($event)"</div> -->

            <!--Add Food Item Modal -->
            <div class="modal fade" id="foodAddModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Food</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form name="outletForm" novalidate autocomplete="off">
                                <h5>Food Information</h5>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Food
                                        Name</span>
                                    <span ng-model="item.foodItemName" class="form-control"
                                        aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default">{{item.foodItemName}}</span>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Food Item
                                        Price</span>
                                    <input type="text" ng-model="item.foodItemPrice" class="form-control"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Food Item
                                        Tax(GST)</span>
                                    <input type="text" ng-model="item.foodItemTax" class="form-control"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="superButtonClose" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="superButton" 
                                ng-click="saveItem($event)">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>