<body ng-controller="superCtrl">
    <div class="superContainer">
        <!-- content start -->
        <div class="superMain">
            <div class="superTopbar">
                <div class="superToggle" ng-click="toggle()">
                    <!-- <ion-icon name="menu-outline"></ion-icon> -->
                </div>
                <div class="superUser">
                    <img src="../img/user.png">
                </div>
            </div>
            <div class="loadingio-spinner-ripple-vjxd5jrokur" ng-show="loading">
                <div class="ldio-qo2rjgdiigq">
                    <div></div>
                    <div></div>
                </div>
            </div>

            <!-- cards -->
            <div class="superCardBoxAnalytics">
                <div class="superCard">
                    <div>
                        <div class="numbers">{{totalOrders}}</div>
                        <div class="cardName">Orders Created</div>
                    </div>
                    <div class="iconBox">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>
                <div class="superCard">
                    <div>
                        <div class="numbers">{{allBrands.length}}</div>
                        <div class="cardName">Powered Brands</div>
                    </div>
                    <div class="iconBox">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>
                <div class="superCard">
                    <div>
                        <div class="numbers">{{allOutlets.count}}</div>
                        <div class="cardName">Total Outlets</div>
                    </div>
                    <div class="iconBox">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>
                <div class="superCard">
                    <div>
                        <div class="numbers">₹{{orderSum.totalOrderAmount}}</div>
                        <div class="cardName">Brand Earnings</div>
                    </div>
                    <div class="iconBox">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
                <div class="superCard">
                    <div>
                        <div class="numbers">₹{{orderSum.totalTaxAmount}}</div>
                        <div class="cardName">Tax Collection</div>
                    </div>
                    <div class="iconBox">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
                <div class="superCard">
                    <div>
                        <div style="font-size: 1em;" class="numbers">
                            {{profitableOutlet.outletName}} -
                            ₹{{profitableOutlet.totalAmount}}</div>
                        <div class="cardName">Top Outlet</div>
                    </div>
                    <div class="iconBox">
                        <ion-icon name="flash-outline"></ion-icon>
                    </div>
                </div>
                <div class="superCard">
                    <div>
                        <div class="numbers">{{profitableOutlet.brandName}}</div>
                        <div class="cardName">Top Brand</div>
                    </div>
                    <div class="iconBox">
                        <ion-icon name="flame-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- <div> -->
            <!-- <canvas id="myChart" width="400" height="400"></canvas> -->

            <!-- </div> -->
            <div class="superCardBoxStats">
                <div class="superCard">
                    <canvas id="myChart" width="400" height="200"></canvas>
                </div>
                <div class="superCard">
                    <canvas id="myChart1" width="400" height="200"></canvas>
                </div>
                <div class="superCard">
                    <canvas id="myChart2" width="400" height="200"></canvas>
                </div>
                <div class="superCard">
                    <canvas id="myChart3" width="400" height="200"></canvas>
                </div>
                <div class="superCard">
                    <canvas id="myChart4" width="200" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
</body>