<body ng-controller="outletEmployeeCtrl">
    <div class="superContainer">
        <!-- content start -->
        <div class="superMain">
            <div class="superTopbar">
                <div class="superToggle" ng-click="toggle()">
                    <h4 style="font-size: 25px;">{{brandName}} | Dine In</h4>
                </div>
                <div class="superSearch">
                    <label>
                        <input ng-model="search" type="text" name="search" placeholder="Search here">
                        <ion-icon name="search-outline" style="margin-top: 10px;"></ion-icon>
                    </label>
                </div>
                <div class="superUserName">
                    <div class="superUser">
                        <img src="../img/user.png">
                    </div>
                    <h4 style="margin-top: 25px;">Hey, {{brandUsername}}</h4>
                </div>
            </div>
            <!-- cards -->
            <div class="superCardStyle">
                <div class="superCardBoxDineIn">
                    <div class="superCard"
                        ng-repeat="itemOutlet in allItemOutlet | filter:search | orderBy:reverse:true"
                        ng-click="testDine(itemOutlet)">
                        <div>
                            <!-- <img class="foodImg" src="../../img/amritsari-naan.jpeg" alt="img"/> -->
                            <img class="foodImg" ng-src="{{itemOutlet.foodCategory.foodItemImage}}" alt="img">
                            <div class="numbers">{{itemOutlet.foodCategory.foodItemName}}</div>
                            <div class="cardName"><span style="color: var(--black1);">Price :</span>
                                ₹{{itemOutlet.foodCategory.foodItemPrice}}</div>
                            <div class="cardName"><span style="color: var(--black1);">Category :</span>
                                {{itemOutlet.superCategory.superName}}</div>
                        </div>
                    </div>
                </div>
                <!-- Bill -->
                <div class="superRecentCustomersDineIn d-flex flex-column justify-content-between  ">
                    <div class="superCardHeader">
                        <h2> Order</h2>
                    </div>
                    <!-- <div> -->
                    <div class="superRecentCustomersDineInTable  p-3 d-flex justify-content-start">
                        <table>
                            <tr ng-show="IsVisible" ng-repeat="food in foodList">
                                <!-- <td>
                                    <div class="imgBox">
                                        <img ng-src="{{foodItemImage}}">
                                    </div>
                                </td> -->
                                <div>
                                    <td>
                                        <h4>{{food.foodCategory.foodItemName}} x
                                            {{food.foodCategory.foodItemQuantity}}<br><span>₹{{food.foodCategory.foodItemPrice
                                                * food.foodCategory.foodItemQuantity}}</span>
                                        </h4>
                                    </td>
                                    <td>
                                        <ion-icon name="remove-circle-outline" style="cursor: pointer;"
                                            ng-click="subtract(food)"></ion-icon>
                                        <!-- <h5 > -->
                                        {{food.foodCategory.foodItemQuantity}}
                                        <!-- </h5> -->
                                        <ion-icon name="add-circle-outline" style="cursor: pointer;"
                                            ng-click="add(food)"></ion-icon>
                                    </td>
                                </div>
                            </tr>
                        </table>
                    </div>
                    <!-- </div> -->
                    <div class="newNew">
                        <!-- <div> -->
                        <div class="" style="font-size: 15px;">Sub Total :</div>
                        <div class="">CGST : 2.5% Tax</div>
                        <div class="">SGST : 2.5% Tax</div>
                        <!-- <div class="" style="font-size: 20px;" ng-init="totalPrice=0">Total :<span>{{totalPrice}}</span> -->
                        <div class="">Total : </div>
                        <!-- <p ng-bind="totalPrice()"></p> -->
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</body>