<body ng-controller="outletCtrl">
    <div class="superContainer">
        <!-- content start -->
        <div class="superMain">
            <div class="superTopbar">
                <div class="superToggle" ng-click="toggle()">
                    <h4 style="font-size: 25px;">{{brandName}} | Status</h4>
                </div>
                <div class="superSearch">
                    <label>
                        <input ng-model="search" type="text" name="search" placeholder="Search here">
                        <ion-icon name="search-outline" style="margin-top: 10px;"></ion-icon>
                    </label>
                </div>
                <div class="superUserName">
                    <div class="superUser">
                        <img src="../img/user.png">
                    </div>
                    <h4 style="margin-top: 25px;">Hey, {{brandUsername}}</h4>
                </div>
            </div>
            <div
                style="display: flex; justify-content: end; gap: 15px; margin-top: 15px; margin-right: 50px; margin-bottom: -20px;">
                <button type="button" class="superButton" ng-click="preparingOrders(prepare)">Preparing
                    Orders</button>
                <button type="button" class="superButton" ng-click="readyOrders(prepare)">Ready
                    Orders</button>
            </div>

            <div class="superCardBoxStatus">
                <div class="superCard" ng-repeat="prepare in allPrepare">
                    <h7>
                        {{prepare.orderType}}
                    </h7>
                    <div ng-repeat="item in prepare.orderItems">
                        <div>
                            <div class="numbers"> {{item.foodCategory.foodItemName}} x
                                {{item.foodCategory.foodItemQuantity}} </div>
                            <div class="cardNameOutlet"> {{super.superCategoryDescription}}</div>
                        </div>

                    </div>
                    <div class="buttonStyle">
                        <button type="button"
                        class="superButton" style="background-color: #8de02c;"
                            ng-click="statusReadyButton(prepare._id, prepare.orderStatus)">{{prepare.orderStatus == 'Preparing' ? 'Ready' : 'Served'}}</button>
                        <button type="button" class="superButton"
                            ng-click="statusCancelledButton(prepare._id)">Cancelled</button>
                    </div>
                </div>
            </div>
        <!-- </div>ng-class="{'Ready': prepare.orderStatus === 'Ready', 'Served': prepare.orderStatus === 'Served' , 'Preparing' : prepare.orderStatus === 'Preparing'}" -->
</body>
