<body ng-controller="outletEmployeeCtrl">
    <div class="superContainer">
        <!-- content start -->
        <div class="superMain">
            <div class="superTopbar">
                <div class="superToggle" ng-click="toggle()">
                    <h4 style="font-size: 25px;">{{brandName}}</h4>
                </div>
                <div class="superUserName">
                    <div class="superUser">
                        <img src="../img/user.png">
                    </div>
                    <h4 style="margin-top: 25px;">Hey Employee, {{brandUsername}}</h4>
                </div>
            </div>
        </div>
</body>