<body ng-controller="brandCtrl">
    <div class="superContainer">
        <!-- content start -->
        <div class="superMain">
            <div class="superTopbar">
                <div class="superToggle" ng-click="toggle()">
                </div>
                <div class="superSearch">
                    <label>
                        <input ng-model="search" type="text" name="search" placeholder="Search here">
                        <ion-icon name="search-outline" style="margin-top: 10px;"></ion-icon>
                    </label>
                </div>
                <div class="superUserName">
                    <div class="superUser">
                        <img src="../img/user.png">
                    </div>
                    <h4 style="margin-top: 25px;">Hey, {{brandUsername}}</h4>
                </div>
            </div>

            <div class="superDetails">
                <div class="superRecentOrdersView">
                    <div class="viewAllTable">
                        <table>
                            <thead>
                                <tr>
                                    <td>Manager Name</td>
                                    <td>Outlet Name</td>
                                    <!-- <td>Active Toggle(On/Off)</td> -->
                                    <!-- <td>Id</td> -->
                                    <td>Edit</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="outlet in allOutlets | filter:search | orderBy:reverse:true">
                                    <td>{{outlet.outletManager.managerName}}</td>
                                    <td>{{outlet.outletName}}</td>
                                    <!-- <td>{{owner.brand.brandId}}</td> -->
                                    <td>
                                        <span class="icon" style="font-size: 1.75em; cursor: pointer;"
                                            data-bs-toggle="modal" data-bs-target="#editOutletModal"
                                            ng-click="openOutletModal(outlet)"><ion-icon
                                                name="create-outline"></ion-icon></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal Edit Owner-->
            <div class="modal fade" id="editOutletModal" tabindex="-1" aria-labelledby="editModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit Brand</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form name="updateForm" novalidate autocomplete="off">
                                <h5> Manager Information</h5>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Manager Name</span>
                                    <input type="text" ng-model="outlet.outletManager.managerName" class=" form-control"
                                        aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Manager Phone</span>
                                    <input type="text" ng-model="outlet.outletManager.managerPhone" class="form-control"
                                        aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Outlet Name</span>
                                    <input type="text" ng-model="outlet.outletName" class="form-control"
                                        aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Outlet Address</span>
                                    <input type="text" ng-model="outlet.outletAddress" class="form-control"
                                        aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                                </div>


                                <div class="modal-footer">
                                    <button type="button" class="superButtonClose"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="superButton" ng-click="saveOutletData($event)">Save
                                        changes</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>