<body ng-controller="brandCtrl">
    <div class="superContainer">
        <div class="navigation">
            <ul>
                <li>
                    <a href="panel.brandPortal">
                        <span class="icon">
                            <i class="fa fa-utensils"></i>
                        </span>
                        <span class="title" style="font-size: 25px;">{{brandData.brandName}}</span>
                    </a>
                </li>
                <li style="margin-top: -20px;">
                    <a ui-sref="panel.brandPortal">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>

                    </a>
                </li>
                <li>
                    <a ui-sref="panel.analytics">
                        <span class="icon"><ion-icon name="bar-chart-outline"></ion-icon>
                        </span>
                        <span class="title">Analytics</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="panel.brandOutlets">
                        <span class="icon"><ion-icon name="business-outline"></ion-icon>
                        </span>
                        <span class="title">All Outlets</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="panel.brandOutletManagers">
                        <span class="icon"><ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Outlet Managers</span>
                    </a>
                </li>
                <li>
                    <a href="" data-bs-toggle="modal" data-bs-target="#outletModal" ng-click="openModal()">
                        <span class="icon"><ion-icon name="add-outline"></ion-icon>
                        </span>
                        <span class="title">Add Outlet</span>
                    </a>
                </li>
                <li>
                    <a href="" data-bs-toggle="modal" data-bs-target="#superModal" ng-click="openModal()">
                        <span class="icon"><ion-icon name="pizza-outline"></ion-icon>
                        </span>
                        <span class="title">Add Super Category</span>
                    </a>
                </li>
                <li>
                    <a href="" data-bs-toggle="modal" data-bs-target="#subModal" ng-click="openModal()">
                        <span class="icon"><ion-icon name="pizza-outline"></ion-icon>
                        </span>
                        <span class="title">Add Sub Category</span>
                    </a>
                </li>
                <li>
                    <a href="" data-bs-toggle="modal" data-bs-target="#foodModal" ng-click="openModal()">
                        <span class="icon"><ion-icon name="pizza-outline"></ion-icon>
                        </span>
                        <span class="title">Add Food Item</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="" data-bs-toggle="modal" data-bs-target="#adminModal" ng-click="openModal()">
                        <span class="icon"><ion-icon name="person-add-outline"></ion-icon>
                        </span>
                        <span class="title">Add New Admin</span>
                    </a>
                </li> -->
                <!-- <li>
                    <a ui-sref="panel.brandPortal">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li> -->

                <li>
                    <a ui-sref="login">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title" ng-click="logout($event)">Logout</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="superMain">
            <div ui-view></div>
        </div>
        <!--Add Outlet Modal -->
        <div class="modal fade" id="outletModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Outlet</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="brandForm" novalidate autocomplete="off">
                            <h5>Outelt Manager Information</h5>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Outlet Manager
                                    Username</span>
                                <input type="text" name="managerName" ng-model="outletManager.username"
                                    class="form-control" ng-pattern="/^[A-Za-z][A-Za-z0-9_]{7,29}$/" required="true"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <span ng-show="brandForm.managerName.$error.required && brandForm.managerName.$touched"
                                class="error">Username is required.</span>
                            <span ng-show="brandForm.managerName.$error.pattern && brandForm.managerName.$touched"
                                class="error">Provide a valid username having alphanumeric values.</span>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Outlet Manager
                                    Password</span>
                                <input type="{{showPassword ? 'text' : 'password'}}" name="managerPassword"
                                    ng-model="outletManager.password" class="form-control"
                                    ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,20}$/"
                                    ng-required="true" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                                <div class="input-group-addon" ng-click="showPassword = !showPassword">
                                    <i style="margin-top: 10px;" class="fa fa-eye" ng-if="!showPassword"></i>
                                    <i style="margin-top: 10px;" class="fa fa-eye-slash" ng-if="showPassword"></i>
                                </div>
                            </div>
                            <span
                                ng-show="brandForm.managerPassword.$error.required && brandForm.managerPassword.$touched"
                                class="error">Password
                                is required.</span>
                            <span
                                ng-show="brandForm.managerPassword.$error.pattern && brandForm.managerPassword.$touched"
                                class="error">Password
                                must be of at least 8 characters that include at least 1 lowercase, 1 uppercase, 1
                                special character and 1 number.</span>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Outlet Manager
                                    Phone</span>
                                <input type="text" name="managerPhone" ng-model="outletManager.phone"
                                    class="form-control" ng-pattern="/^[0-9]{10}$/" ng-required="true"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <span ng-show="brandForm.managerPhone.$error.required && brandForm.managerPhone.$touched"
                                class="error">Phone number is required.</span>
                            <span ng-show="brandForm.managerPhone.$error.pattern && brandForm.managerPhone.$touched"
                                class="error">Provide a valid phone number.</span>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Outlet Manager
                                    Email</span>
                                <input type="text" name="managerEmail" ng-model="outletManager.email"
                                    class="form-control" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/"
                                    ng-required="true" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <span ng-show="brandForm.managerEmail.$error.required && brandForm.managerEmail.$touched"
                                class="error">Email is required.</span>
                            <span ng-show="brandForm.managerEmail.$error.pattern && brandForm.managerEmail.$touched"
                                class="error">Provide a valid email address.</span>
                            <h5>Outlet Information</h5>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Outlet Branch Name</span>
                                <input type="text" ng-model="outletManager.outletName" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Outlet Address</span>
                                <input type="text" ng-model="outletManager.outletAddress" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Outlet Phone</span>
                                <input type="text" name="outletPhone" ng-model="outletManager.outletPhone"
                                    class="form-control" ng-pattern="/^[0-9]{10}$/" ng-required="true"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <span ng-show="brandForm.outletPhone.$error.required && brandForm.outletPhone.$touched"
                                class="error">Phone number is required.</span>
                            <span ng-show="brandForm.outletPhone.$error.pattern && brandForm.outletPhone.$touched"
                                class="error">Provide a valid phone number.</span>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="superButtonClose" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="superButton" ng-disabled="brandForm.$invalid"
                            ng-click="saveOutlet($event)">Save changes</button>
                        <div class="alert alert-danger" role="alert" ng-show="brandForm.$invalid">
                            Please fill out all required fields.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Add Super Modal -->
        <div class="modal fade" id="superModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Super Category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="createForm" novalidate autocomplete="off">
                            <h5>Super Category Information</h5>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Category Name</span>
                                <input type="text" ng-model="superFood.superCategoryName" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Category Image</span>
                                <input type="file" file-model="superFood.superCategoryImage" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                <!-- <button ng-click="imageTest()">image</button> -->
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Category
                                    Description</span>
                                <input type="text" ng-model="superFood.superCategoryDescription" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="superButtonClose" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="superButton" ng-click="saveSuper($event)">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Add Sub Modal -->
        <div class="modal fade" id="subModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Sub Category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="createForm" novalidate autocomplete="off">
                            <h5>Product Information</h5>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Super-Category</span>
                                <div class="dropdown">
                                    <select class="form-select" aria-label="Default select example"
                                        ng-model="selectedSuperCategory" ng-click="test()">
                                        <option ng-value="super" ng-repeat="super in allSuper">
                                            {{super.superCategoryName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Sub-Category Name</span>
                                <input type="text" ng-model="subFood.subCategoryName" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="superButtonClose" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="superButton" ng-click="saveSub($event)">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Add Food Modal -->
        <div class="modal fade" id="foodModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Food Item</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="createForm" novalidate autocomplete="off">
                            <h5>Product Information</h5>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Sub-Category</span>
                                <div class="dropdown">
                                    <select class="form-select" aria-label="Default select example"
                                        ng-model="selectedSubCategory" ng-click="testSub()">
                                        <option ng-value="sub" ng-repeat="sub in allSub">
                                            {{sub.subCategoryName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Item Name</span>
                                <input type="text" ng-model="foodItem.foodItemName" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Item Image</span>
                                <input type="file" file-model="foodItem.foodItemImage" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Item Price</span>
                                <input type="text" ng-model="foodItem.foodItemPrice" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="superButtonClose" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="superButton" ng-click="saveFood($event)">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Add Brand Admin Modal -->
        <div class="modal fade" id="adminModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Admin</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="brandAdminForm" novalidate autocomplete="off">
                            <h5>Admin Information</h5>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Admin
                                    Username</span>
                                <input type="text" name="brandAdminName" ng-model="brandUser.username"
                                    ng-pattern="/^[A-Za-z][A-Za-z0-9_]{7,29}$/" required="true" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <span
                                ng-show="brandAdminForm.brandAdminName.$error.required && brandAdminForm.brandAdminName.$touched"
                                class="error">Username is required.</span>
                            <span
                                ng-show="brandAdminForm.brandAdminName.$error.pattern && brandAdminForm.brandAdminName.$touched"
                                class="error">Provide a valid username having alphanumeric values.</span>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Admin
                                    Password</span>
                                <input type="{{showPassword ? 'text' : 'password'}}" name="brandAdminPassword" ng-model="brandUser.password"
                                    ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,20}$/"
                                    ng-required="true" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                                    <div class="input-group-addon" ng-click="showPassword = !showPassword">
                                        <i style="margin-top: 10px;" class="fa fa-eye" ng-if="!showPassword"></i>
                                        <i style="margin-top: 10px;" class="fa fa-eye-slash" ng-if="showPassword"></i>
                                    </div>
                            </div>
                            <span
                                ng-show="brandAdminForm.brandAdminPassword.$error.required && brandAdminForm.brandAdminPassword.$touched"
                                class="error">Password
                                is required.</span>
                            <span
                                ng-show="brandAdminForm.brandAdminPassword.$error.pattern && brandAdminForm.brandAdminPassword.$touched"
                                class="error">Password
                                must be of at least 8 characters that include at least 1 lowercase, 1 uppercase, 1
                                special character and 1 number.</span>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Admin
                                    Phone</span>
                                <input type="text" name="brandAdminPhone" ng-model="brandUser.phone"
                                    ng-pattern="/^[0-9]{10}$/" ng-required="true" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <span
                                ng-show="brandAdminForm.brandAdminPhone.$error.required && brandAdminForm.brandAdminPhone.$touched"
                                class="error">Phone number is required.</span>
                            <span
                                ng-show="brandAdminForm.brandAdminPhone.$error.pattern && brandAdminForm.brandAdminPhone.$touched"
                                class="error">Provide a valid phone number.</span>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Admin
                                    Email</span>
                                <input type="text" name="brandAdminEmail" ng-model="brandUser.email"
                                    ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/" ng-required="true"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <span
                                ng-show="brandAdminForm.brandAdminEmail.$error.required && brandAdminForm.brandAdminEmail.$touched"
                                class="error">Email is required.</span>
                            <span
                                ng-show="brandAdminForm.brandAdminEmail.$error.pattern && brandAdminForm.brandAdminEmail.$touched"
                                class="error">Provide a valid email address.</span>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="superButtonClose" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="superButton" ng-disabled="brandAdminForm.$invalid"
                            ng-click="saveBrand($event)">Save changes</button>
                        <div class="alert alert-danger" role="alert" ng-show="brandAdminForm.$invalid">
                            Please fill out all required fields.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>